body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    color: #FBB048;
    background-color: #152250;
    text-align: center;
    padding: 0.8em 0;
}

footer {
    position: fixed;
    background-color: #152250;
    text-align: center;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

#homeButton {
    width: 5vh;
    /* O el tamaño que desees */
    height: auto;
    position: absolute;
    /* Posición absoluta respecto al encabezado */
    top: 2vh;
    /* Ajuste el valor para alinear verticalmente */
    left: 2vh;
    /* Ajuste el valor para alinear horizontalmente */
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Suaviza la transición al pasar el cursor */
}


.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.boton-comportamiento {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* O ajusta al ancho deseado */
    margin-bottom: 10px; /* Ajusta el espaciado entre botones */
}

.boton-comportamiento .badge {
    margin-right: 5px; /* Espaciado entre el badge de puntos y el motivo */
}

.boton-comportamiento-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px; /* Ajusta el espaciado entre botones */
}

.boton-comportamiento {
    flex-grow: 1; /* Ocupa todo el espacio disponible */
}

.boton-comportamiento + .btn {
    margin-left: 10px; /* Espaciado entre el botón de comportamiento y el botón de eliminar */
}

#modalHistorial .modal-content {
    border-radius: 0.5rem; /* Bordes redondeados para el modal */
}

#modalHistorial .list-group-item {
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem 1.25rem;
}

#modalHistorial .list-group-item:nth-child(odd) {
    background-color: #f8f9fa; /* Un suave color de fondo para los ítems impares */
}

#modalHistorial .modal-body {
    padding: 0; /* Elimina el padding predeterminado para alinear el borde de la lista con el modal */
}

.btn-info.btn-sm {
    background-color: #0f44ad; /* Azul intenso de la paleta */
    color: #ffffff; /* Texto en blanco para contraste */
    border: none; /* Elimina el borde predeterminado */
    padding: 5px 15px; /* Relleno ajustado para tamaño pequeño */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave para efectos visuales */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave para profundidad */
}

.btn-info.btn-sm:hover, .btn-info.btn-sm:focus {
    background-color: #152250; /* Azul más oscuro al interactuar */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* Sombra más intensa en hover */
}

.btn-info.btn-sm:active {
    background-color: #9cc4f6; /* Azul claro al hacer clic */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); /* Sombra menos intensa al presionar */
}

.btn-primary.mb-2.shadow-lg {
    background-color: #152250; /* Azul oscuro de la paleta */
    color: #ffffff; /* Texto en blanco para buen contraste */
    border: none; /* Eliminamos el borde predeterminado */
    padding: 8px 20px; /* Ajustamos el relleno para mejor ergonomía */
    border-radius: 5px; /* Bordes redondeados */
    transition: all 0.3s ease; /* Transición suave para los efectos visuales */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más definida para un efecto 3D */
}

.btn-primary.mb-2.shadow-lg:hover, .btn-primary.mb-2.shadow-lg:focus {
    background-color: #0f44ad; /* Cambiamos a un azul más claro al interactuar */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Sombra más intensa en hover */
}

.btn-primary.mb-2.shadow-lg:active {
    background-color: #9cc4f6; /* Azul claro al hacer clic */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra menos intensa al presionar */
}

.modal-header {
    background-color: #152250; /* Azul oscuro */
    color: #fbb038; /* Amarillo */
}

.modal-header .modal-title {
    color: #fbb038; /* Amarillo */
}

.modal-header .close {
    color: #fbb038; /* Amarillo */
    opacity: 1;
}

.modal-content {
    border-radius: 0; /* Estilo más minimalista */
}